:root {
  font-size: 60%;

  --color-background:  rgb(42, 42, 42);
  --color-box: #24242400;
  --color-text: #f2f2f2;
  --color-text-box: #ffffff;
  --color-border-header: #09002f7e;
  --color-border-box: #ffffff00;
  --color-button: rgb(66, 66, 66);
  --color-text-input: #222222ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
  background: linear-gradient(0deg, rgba(247,134,134,1) 9%, rgba(179,255,250,1) 100%);

}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem 'Poppins', sans-serif;
  color: var(--color-text);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}